@model List<ContactModel>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Contacts</h2>
<a class="btn btn-primary" asp-action="Add" asp-controller="Contact">Add Contact</a>
<h4>Contact List</h4>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(l=>l[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(l=>l[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(l=>l[0].Category)
            </th>
            <th>
                <div class="float-end">
                    Action
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var e in @Model)
        {
            <tr>
                <td>
                    @e.FirstName
                </td>
                <td>
                    @e.LastName
                </td>
                <td>
                    @e.Category.GetDisplayName()
                </td>
                <td>
                    <div class="float-end">
                        <a class="btn btn-success" asp-action="Edit" asp-controller="Contact"  asp-route-id="@e.Id">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-controller="Contact"  asp-route-id="@e.Id">Details</a>
                        <a class="btn btn-danger" asp-controller="Contact" asp-action="Delete" asp-route-id="@e.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
        
    </table>
}
else
{
    <h3 class="text-danger"> Contact List Empty</h3>
}
    